@import "breakpoints";

.about {
    margin-top: 120px;

    @include min-width-md {
        position: relative;
        margin-top: 120px;
    }

    @include min-width-lg {
        margin-top: 155px;
    }
}

.about__titles {
    position: relative;
    z-index: 10;
}

.about__primary-title {
    margin-bottom: 5px;

    @include min-width-md {
        margin-bottom: 0;
    }
}

.about__image-container {
    max-width: 400px;
    display: grid;
    place-items: center;
    margin: auto;
    overflow: hidden;

    @include min-width-md {
        max-width: 350px;
        position: absolute;
        top: 0;
        right: -60px;
    }

    @include min-width-lg {
        max-width: 400px;
        top: 50px;
    }

    @include min-width-xl {
        max-width: 500px;
        right: -100px;
        top: -40px;
    }

    img {
        max-width: 130%;

        @include min-width-md {
            max-width: 100%;
        }
    }
}

.about__text {
    @include min-width-md {
        padding-right: 275px;
        margin-top: 20px;
    }

    @include min-width-lg {
        padding-right: 300px;
    }

    @include min-width-xl {
        max-width: 560px;
        padding-right: 0;
        margin-top: 30px;
    }
}

.about__break {
    display: none;

    @include min-width-xl {
        display: block;
    }
}

.about__skills,
.about__more {
    margin-top: 20px;

    @include min-width-xl {
        margin-top: 30px;
    }
}
