@import "breakpoints";

.blur-container {
    position: relative;
    background-color: rgba(172, 130, 80, 0.5);

    @include min-width-md {
        backdrop-filter: blur(50px);
        background-color: unset;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 25px;
    }
}
