@import "breakpoints";

.contact {
    position: relative;
    margin-top: 130px;

    @include min-width-xl {
        margin-top: 140px;
    }
}

.contact__titles {
    position: relative;
    z-index: 10;
}

.contact__primary-title {
    margin-bottom: 5px;

    @include min-width-md {
        margin-bottom: 0;
    }
}

.contact__image-container {
    max-width: 410px;
    margin: auto;
    margin-top: 10px;
    display: grid;
    place-items: center;

    @include min-width-md {
        max-width: 300px;
        position: absolute;
        bottom: -45px;
        right: -30px;
    }

    @include min-width-lg {
        max-width: 350px;
        bottom: -50px;
    }

    @include min-width-xl {
        max-width: 410px;
        bottom: -65px;
        right: -60px;
    }

    img {
        max-width: 90%;

        @include min-width-md {
            max-width: 100%;
        }
    }
}

.contact__text {
    max-width: 90%;
    margin-top: 10px;

    @include min-width-md {
        max-width: unset;
        padding-right: 300px;
        margin-top: 20px;
    }

    @include min-width-xl {
        max-width: 465px;
        padding-right: 0;
        margin-top: 30px;
    }
}

.contact__email {
    text-decoration: underline;
}
