@import "./variables.scss";

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: #ffe28d;
    border-radius: 99px;
}

body {
    font-family: "Kanit", sans-serif;
    font-size: var(--regular-font-size);
    font-weight: var(--regular-font-weight);
    background-color: var(--background-color);
    color: var(--primary-text-color);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

a {
    display: inline-block;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    font: inherit;
    color: inherit;
    background-color: unset;
    padding: 0;
    margin: 0;
    border: unset;
    cursor: pointer;
}
