.primary-title {
    font-size: var(--primary-title-font-size);
    font-weight: var(--bold-font-weight);
    line-height: 1.1;
    color: var(--primary-text-color);
    opacity: var(--primary-text-opacity);
}
