.regular-link {
    font-size: var(--regular-font-size);
    font-weight: var(--regular-font-size);
    color: var(--primary-text-color);
    opacity: var(--primary-text-opacity);
    text-decoration: underline;
}
