.secondary-title {
    font-size: var(--secondary-title-font-size);
    font-weight: var(--semi-bold-font-weight);
    line-height: 1.25;
    color: var(--primary-text-color);
    opacity: var(--primary-text-opacity);
}
